<table class="table table-no-bordered table-hover">
  <thead>
    <th>Código Muestra</th>
    <th>Método</th>
    <th>Acreditado</th>
    <th>Nombre Reporte</th>
    <th>Reporte</th>
  </thead>
  <tbody>
    <tr>
      <td><%= sample.pucp_code %></td>
      <td><%= sample.sample_method_name %></td>
      <td><% if sample.sample_method.accredited? %>
        Si
      <% else %> 
        No
      <% end %></td> 
      <td><%= work_order.report_name %></td>
      <td><%= link_to "Descarga", work_order.internal_report_url, class: "btn btn-info btn-sm" %></td></td>
    </tr>
  </tbody>
</table>
 <div class="text-center">
    <h4>Observaciones</h4>
    <%= f.text_area :supervisor_observation, :cols => "40", :rows => "5" %>
</div>
<br>
<div class="form-group">
  <div class="col-md-3 col-fom-label">
    <%= f.label :Validación %>
  </div>
  <div class="col-md-9">
    <label class="radio form-check-label sical-radio-button">
      <span class="icons">
        <span class="first-icon fa fa-circle-o"></span>
        <span class="second-icon fa fa-dot-circle-o"></span>
      </span>
      <input
        id="accepted"
        type="radio"
        class="form-check-input"
        data-toggle="radio"
        name="work_order[valid_supervised]"
        value="true"
      >
      Aceptado
    </label>
    <label class="radio form-check-label sical-radio-button">
      <span class="icons">
        <span class="first-icon fa fa-circle-o"></span>
        <span class="second-icon fa fa-dot-circle-o"></span>
      </span>
      <input
        id="rejected"
        type="radio"
        class="form-check-input"
        data-toggle="radio"
        name="work_order[valid_supervised]"
        value="false"
      >
      No Aceptado
    </label>
  </div>
</div>
