<div class="nested-fields">
  <div class="col-md-9 offset-md-3">
    <table class="table table-no-bordered table-hover">
      <thead>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Descripcion</th>
      </thead>
      <tbody>
        <%= f.fields_for :sample_preliminaries, :wrapper => false do |spre_form| %>
          <tr>
            <td><%= spre_form.text_field :name, class: "form-control", maxLength:"40", required:"required"%></td>
            <td><%= spre_form.text_field :quantity, class: "form-control only-numbers", maxLength:"5", required:"required" %></td>
            <td><%= spre_form.text_field :description , class: "form-control", maxLength:"50",required:"required"%></td>
            <td>
              <%= link_to_remove_association f do %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>