<%= form_tag permits_path, class: "validate", method: :get, remote: true do %>
  <div class="row form-group">
    <div class="col-sm-6">
      <div class="col-sm-4">
        <%= label_tag :start_date, nil, class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :start_date, nil, class: 'form-control datepicker' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-4">
        <%= label_tag :end_date, nil, class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :end_date, nil, class: 'form-control datepicker' %>
      </div>
    </div>
  </div>
<% end %>