<%= form_tag search_services_path, class: "sical-form-validated validate", method: :get, remote: true do %>
  <div class="form-group row">
    <div class="form-group search-field row col-md-5">
      <div class="col-md-4 col-fom-label">
        <%= label_tag :fecha_de_inicio %>
      </div>
      <div class="date col-md-8 input-wrapper">
        <div class="input-group sical-input-group">
          <%= text_field_tag :start_date, nil, class: "form-control sical-datepicker", required: true %>
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group search-field row col-md-5">
      <div class="col-md-4 col-fom-label">
        <%= label_tag :fecha_de_fin %>
      </div>
      <div class="date col-md-8 input-wrapper">
        <div class="input-group sical-input-group">
          <%= text_field_tag :end_date, nil, class: "form-control sical-datepicker", required: true %>
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="search-field col-md-1">
      <%= submit_tag "Buscar", class:"btn btn-default" %>
    </div>
  </div>
<% end %>

<style type="text/css">
  .search-field {
    margin: 0 10px;
  }
</style>