<h3 class=" p-b-10 p-l-10 "><%= title %></h3>
<div class="mailbox-messages flex-1 content">
  <div class="scroll content">
      <% if services.empty?%>
        <div class="form-group row">
          No tiene mensajes sin leer.
        </div>
      <% else %>
        <% services.each do |current_service| %>
          <div class="row content">
            <div class="col-md-2 text-center subject-date subject-border col-form-label show-date"> 
              <div>
                <h5>
                  <%= current_service.created_at.strftime('%I:%M %p') %>
                </h5>
              </div>
              <div>
                <h5>
                  <%= current_service.created_at.strftime('%^b %d') %>
                </h5>
              </div>
            </div>
            <div class="col-md-8 col-form-label subject-border custom-service-subject" >
              <div class= "title-subject">
                <div>
                  <label class= "col-md-3"><strong>Asunto:</strong></label>
                </div>
                <div class="col-md-9">
                  <%= current_service.subject%>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-center subject-date subject-border link-service-wrapper" > 
              <div>
                <%= link_to "Ver Servicio", edit_service_path(current_service),  data: { "toggle" => "tooltip" }, title: "Ver", class: "link-service" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <%#= link_to , id: 'more-messages', class: 'flex-container' do %>
      <span class="mailbox"></span><span class="text flex-1">Ver todos los mensajes</span><span class="next"></span>
    <%# end %>
  </div>
</div>

<script type="text/javascript">
//$(document).ready(scroll('y'));
</script>

