<h3 class=" p-b-10 p-l-10 "><%= title %></h3>
<div class='mailbox-messages flex-1 content'>
  <div class="scroll">
      <% if services.empty?%>
        <div class="form-group row">
          No tiene mensajes sin leer.
        </div>
      <% else %>
        <% services.each do |current_service| %>
          <div class="row ">
            <div class="col-md-2 text-center subject-date" > 
              <div>
                <%= current_service.created_at.strftime('%I:%M %p') %>
              </div>
              <div>
                <%= current_service.created_at.strftime('%^b %d') %>
              </div>
            </div>
            <div class="col-md-10 subject">
              <h5>
                <%= link_to edit_service_path(current_service) do %>
                  <%= current_service.subject %>
                <% end %>
              </h5>
            </div>
          </div>
        <% end %>
      <% end %>
    <%#= link_to , id: 'more-messages', class: 'flex-container' do %>
      <span class='mailbox'></span><span class='text flex-1'>Ver todos los mensajes</span><span class='next'></span>
    <%# end %>
  </div>
</div>

<script type="text/javascript">
//$(document).ready(scroll('y'));
</script>

