<div class="content">
  <div class="material-datatables">
    <table class="table table-hover sical-data-table sical-data-table" data-placeholder="Buscar Solicitudes">
      <thead>
        <tr>
          <th>Código</th>
          <th>Laboratorio</th>
          <th>Fecha de Envio</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% services.each do |service| %>
            <td><%= service.code %></td>
            <td><%= service.laboratory %></td>
            <td><%= service.shipping_date %></td>
            <td><%= service.status %></td>
            <td>
              <%= link_to edit_request_path(service), class: "btn btn-simple btn-warning btn-icon edit" do %>
                <i class="ti-pencil-alt"></i>
              <% end %>
              <%= link_to request_path(service), class: "btn btn-simple btn-danger btn-icon remove", method: :delete do %>
                <i class="ti-close"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= nested_form_for @service, url: services_path, method: :post do |f| %>

  <%= f.label :Laboratorio %>
  <%= f.collection_select :laboratory_id, @laboratories, :id, :name, {} %>
  
  <%= f.label :Asunto %>
  <%= f.text_field :subject %>

  <%= f.label :Fecha_aproximada_de_recojo %>
  <%= f.text_field :pick_up_date %>

  <%= f.link_to_add "Agregar muestra" , :sample_preliminaries%>

  <%= f.fields_for :sample_preliminaries do |sp_form| %>

    <%= sp_form.label :Nombre %>
    <%= sp_form.text_field :name %>

    <%= sp_form.label :Cantidad %>
    <%= sp_form.text_field :quantity %>

    <%= sp_form.label :Descripcion %>
    <%= sp_form.text_field :description %>

    <%= sp_form.link_to_remove "Borrar" %>

  <% end %>

  <%= f.submit "Guardar" %>
<% end %>