
<div class="form-group row">
  <label class= "col-md-3 col-form-label">Laboratorio</label>
   <div class="col-md-9">
      <%= @service.laboratory_id %>
  </div>
</div>

<div class="form-group row">
  <label class= "col-md-3 col-form-label">Fecha Proxima de Recojo</label>
   <div class="col-md-9">
      <%= @service.pick_up_date %>
  </div>
</div>

<div class="form-group row">
  <label class= "col-md-3 col-form-label">Asunto</label>
   <div class="col-md-9">
      <%= @service.subject %>
  </div>
</div>

<div class="form-group row">
  <label class= "col-md-3 col-form-label">Muestras</label>
</div>

<div class="col-md-9 offset-md-3">
  <table class="table table-no-bordered table-hover">
    <thead>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Descripcion</th>
    </thead>
    <!--<tbody id="sample-table">
      <%= service.sample_preliminaries do |spre_form| %>
        <tr>
          <td><%= spre_form.name %></td>
          <td><%= spre_form.quantity %></td>
          <td><%= spre_form.description %></td>
        </tr>
      <% end %>
    </tbody>-->
  </table>  
</div>

