<div class="tab">
  <button class="tablinks active" onclick="openSection(event, 'Cliente')">Cliente</button>
  <button class="tablinks" onclick="openSection(event, 'Trabajador')">Trabajador</button>
</div>

<%= nested_form_for @service, url: service_path, method: :put do |f| %>


  <div id="Cliente" class="tabcontent" style="display: block;">
    <h3>Cliente</h3>
    <%= f.label :Laboratorio %>
    <%= f.collection_select :laboratory_id, @laboratories, :id, :name, {} %>
    
    <%= f.label :Asunto %>
    <%= f.text_field :subject %>

    <%= f.label :Fecha_aproximada_de_recojo %>
    <%= f.text_field :pick_up_date %>

    <%#= f.link_to_add "Agregar muestra" , :sample_preliminaries%>

    <%= f.fields_for :sample_preliminaries do |spre_form| %>

      <%= spre_form.label :Nombre %>
      <%= spre_form.text_field :name %>

      <%= spre_form.label :Cantidad %>
      <%= spre_form.text_field :quantity %>

      <%= spre_form.label :Descripcion %>
      <%= spre_form.text_field :description %>

      <%#= spre_form.link_to_remove "Borrar" %>

    <% end %>
  </div>

  <div id="Trabajador" class="tabcontent">
    <h3>Trabajador</h3>
    <%= f.link_to_add "Agregar muestra" , :sample_processeds%>

    <%= f.fields_for :sample_processeds do |spro_form| %>

      <%= spro_form.label :Categoria %>
      <%= spro_form.text_field :category %>

      <%= spro_form.label :Descripcion %>
      <%= spro_form.text_field :description %>

      <%= spro_form.label :Codigo_pucp %>
      <%= spro_form.text_field :pucp_code %>

      <%= spro_form.label :client_code %>
      <%= spro_form.text_field :client_code %>

      <%= spro_form.link_to_remove "Borrar" %>

      <%= spro_form.link_to_add "Agregar caracteristida" , :sample_features%>

      <%= spro_form.fields_for :sample_features do |feature_form| %>

        <%= feature_form.label :Descripcion %>
        <%= feature_form.text_field :description %>
        
        <%= feature_form.label :Valor %>
        <%= feature_form.text_field :value %>

      <% end %>
    <% end %>
  </div>

  <%= f.submit "Guardar" %>

<% end %>