<div class="card">
  <div class="tab">
    <button class="tablinks active" onclick="openSection(event, 'service')">Servicios</button>
    <button class="tablinks" onclick="openSection(event, 'samples')">Muestras</button>
  </div>
  <%= nested_form_for @service, url: service_path, :wrapper => false,  method: :put do |f| %>
    <div id="service" class="tabcontent" style="display: block;">
      <h3>Servicios</h3>
      <%= render 'form_client', service: @service, f: f %>
    </div>

    <div id="samples" class="tabcontent">
      <%= f.fields_for :sample_processeds do |sample| %>
        <%= render 'sample_processed_fields', f: sample %>
      <% end %>
    
      <div class="">
        <div class= "samples-title samples-worker">
          <div>
            Muestras
          </div>
          <div>
            <%= link_to_add_association "Agregar evaluacion de la muestra", f, :sample_processeds, class: "btn btn-default sical-btn-add-menu btn-add-evalution-sample", data: { association_insertion_node: '.samples', association_insertion_method: 'append', evaluation_samples: 0 }%>
          </div>
        </div>
        <div class="samples sample-evaluations">
        </div>
      </div>
      
    </div>

    <div class="form-group">
      <div class="text-center save-worker">
        <%= link_to "Cancelar", services_path, class: "btn btn-primary sical-btn-cancel" %>
        <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
      </div>
    </div>
  <% end %>
</div>