<% if current_user.employee? %>
  <section class="requests-index">
      <div class="card">
        <div class="content">
          <div class="header card-header-text sical-card-header">
            <h1 class="sical-card-title">
              Revisión de ordenes de trabajo
            </h1>
          </div>
          <div class="sical-content">
            <div class="sub-section-cards">
              <div class="col-md-6 sub-section-card is-unread-card">
                <%= render 'work_orders_to_check_card', elements: @work_orders_to_check, title: "Ordenes por Revisar" %>
              </div>
              <div class="col-md-6 sub-section-card is-read-card">
                <%= render 'services_completed_card', elements: @final_completed_services, title: "Servicios Terminados" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<% else %>
  <section class="requests-index">
    <div class="card">
      <div class="content">
        <div class="header card-header-text sical-card-header">
          <h1 class="sical-card-title">
            Solicitudes de Servicio
          </h1>
          <%= link_to 'Nueva Solicitud', new_service_path, class: "btn btn-primary align-right"  %>
        </div>
        <div class="header card-header-text sical-card-header">
          <h4 class="sical-card-title">
            <a data-toggle="collapse" href="#search">Search Panel</a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="search">
          <%= render 'search' %>
        </div>
        <div class="sical-content">
          <div id="service-table">
            <%= render 'services_table', services: @services %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

