<div id="search">
  <%= render 'search' %>
</div>
<% if current_user.employee? %>
  <section class="requests-index">
      <div class="card">
        <div class="content">
          <div class="header card-header-text sical-card-header">
            <h1 class="sical-card-title">
              Orden de Custodia
            </h1>
          </div>
          <div class="sical-content">
            <div class="row">
              <div id="unread-card" class="col-md-6 card">
                <%= render 'work_orders_to_check_card', work_orders_to_check: @work_orders_to_check, title: "Ordenes por Revisar" %>
              </div>
              <div id="read-card" class="col-md-6 card">
                <%= render 'services_completed_card', completed_services: @completed_services, title: "Servicios Terminados" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<% else %>
  <section class="requests-index">
    <div class="card">
      <div class="content">
        <div class="header card-header-text sical-card-header">
          <h1 class="sical-card-title">
            Solicitudes de Servicio
          </h1>
          <% if !current_user.employee? %>
            <div>
              <%= link_to 'Nueva Solicitud', new_service_path, class: "btn btn-primary align-right"  %>
            </div>
          <% end %>
        </div>
        <div class="sical-content">
          <% if current_user.employee? %>
            <div class="sub-section-cards">
              <div class="col-md-6 sub-section-card is-unread-card">
                <%= render 'sub_section_card', elements: @unattended_services, title: "Revision de Trabajo", controller: "service" %>
              </div>
              <div class="col-md-6 sub-section-card is-read-card">
                <%= render 'sub_section_card', elements: @completed_services, title: "Servicios terminado", controller: "service" %>
              </div>
            </div>
          <% else %>
            <div id="service-table">
              <%= render 'services_table', services: @services %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>
