<div id="search">
  <%= render 'search' %>
</div>
<% if current_user.employee? %>
  <section class="requests-index">
    <div class="card">
      <div class="content">
        <div class="header card-header-text sical-card-header">
          <h1 class="sical-card-title">
            Solicitudes de Servicio
          </h1>
        </div>
        <div class="sical-content">
          <div class="row">
            <div id="unread-card" class="col-md-6 card">
              <%= render 'services', services: @unattended, title: "Servicios sin atender" %>
            </div>
            <div id="read-card" class="col-md-6 card">
              <%= render 'services', services: @attended, title: "Servicios atendidos" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="requests-index">
    <div class="card">
      <div class="content">
        <div class="header card-header-text sical-card-header">
          <h1 class="sical-card-title">
            Solicitudes de Servicio
          </h1>
          <div>
            <%= link_to 'Nueva Solicitud', new_service_path, class: "btn btn-primary align-right"  %>
          </div>
        </div>
        <div class="sical-content">
          <div id="service-table">
            <%= render 'services_table', services: @services %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>



