<div class="row wrappr">
  <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="card square">
      <p class="number" id="number">3</p>
      <%= link_to '<p>Empleados</p><i class="ti ti-arrow-right" aria-hidden="true"></i>'.html_safe, employees_path, class: "card rectangle"%>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="card square">
      <p class="number" id="number">3</p>
      <%= link_to '<p>Clientes</p><i class="ti ti-arrow-right" aria-hidden="true"></i>'.html_safe, clients_path, class: "card rectangle"%>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="card square">
      <p class="number" id="number">3</p>
      <%= link_to '<p>Inventario</p><i class="ti ti-arrow-right" aria-hidden="true"></i>'.html_safe, inventories_path, class: "card rectangle"%>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="card square">
      <p class="number" id="number">3</p>
      <%= link_to '<p>Laboratorios</p><i class="ti ti-arrow-right" aria-hidden="true"></i>'.html_safe, laboratories_path, class: "card rectangle"%>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="card square">
      <p class="number" id="number">3</p>
      <%= link_to '<p>Métodos de Ensayo</p><i class="ti ti-arrow-right" aria-hidden="true"></i>'.html_safe, sample_methods_path, class: "card rectangle"%>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="card square">
      <p class="number" id="number">3</p>
      <%= link_to '<p>Solicitud de Servicios</p><i class="ti ti-arrow-right" aria-hidden="true"></i>'.html_safe, services_path, class: "card rectangle"%>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="card square">
      <p class="number" id="number">3</p>
      <%= link_to '<p>Revisión de Servicios</p><i class="ti ti-arrow-right" aria-hidden="true"></i>'.html_safe, check_services_path, class: "card rectangle"%>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="card square">
      <p class="number" id="number">3</p>
      <%= link_to '<p>Proformas</p><i class="ti ti-arrow-right" aria-hidden="true"></i>'.html_safe, quotations_path, class: "card rectangle"%>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="card square">
      <p class="number" id="number">3</p>
      <%= link_to '<p>Orden de Trabajo</p><i class="ti ti-arrow-right" aria-hidden="true"></i>'.html_safe, work_orders_path, class: "card rectangle"%>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="card square">
      <p class="number" id="number">3</p>
      <%= link_to '<p>Resultados</p><i class="ti ti-arrow-right" aria-hidden="true"></i>'.html_safe, results_path, class: "card rectangle"%>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="card square">
      <p class="number" id="number">3</p>
      <%= link_to '<p>Roles</p><i class="ti ti-arrow-right" aria-hidden="true"></i>'.html_safe, roles_path, class: "card rectangle"%>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="card square">
      <p class="number" id="number">3</p>
      <%= link_to '<p>Logs</p><i class="ti ti-arrow-right" aria-hidden="true"></i>'.html_safe, logs_path, class: "card rectangle"%>
    </div>
  </div>
</div>