<%= form_tag "#{}", class: "validate", method: :get, remote: true do %>
  <div class="row form-group">
    <div class="col-sm-5">
      <div class="col-sm-4">
        <%= label_tag :Fecha_inicio, class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <div class="input-group date">
          <%= f.text_field :date_start, class: "form-control", id: "sample-search-datepicker" %>
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="col-sm-4">
        <%= label_tag :Fecha_fin, class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <div class="input-group date">
          <%= f.text_field :date_end, class: "form-control", id: "sample-search-datepicker" %>
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="col-md-12">
        <input class="btn btn-success" type="submit" value="Buscar">
      </div>
    </div>
  </div>
<% end %>