<%= form_for @inventory, url: path, method: method, :html => { class: "form-horizontal validate" } do |f| %>
  <% if @inventory.errors.any? %>
    <% @inventory.errors.full_messages.each do |m| %>
      <p><%= m %></p>
    <% end %>
  <% end %>
  <div class="form-group">
    <div>
      <%= f.label :Nombre, class: "col-md-3 col-fom-label" %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :name, class: "form-control", maxlength:"30" %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.label :Marca, class: "col-md-3 col-fom-label" %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :brand, class: "form-control", maxlength:"20" %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.label :Modelo, class: "col-md-3 col-fom-label" %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :model, class: "form-control ", maxlength:"10" %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.label :Descripción, class: "col-md-3 col-fom-label" %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :description, class: "form-control ", maxlength:"120" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Fecha_de_ingreso, class: "col-md-3 col-fom-label" %>
    <div class="input-group date">
      <%= f.text_field :date_of_admission, class: "form-control", id: "inventory-form-datepicker" %>
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.label :Vida_útil, class: "col-md-3 col-fom-label" %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :time_of_life, class: "form-control only-numbers", maxlength:"2" %>
    </div>
  </div>
  <div class="form-group">
    <div class="text-center">
      <%= link_to "Cancelar", inventories_path, class: "btn btn-primary sical-btn-cancel" %>
      <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
    </div>
  </div>
<% end %>