<div class="material-datatables">
  <table id="employee-datatable" class="table table-hover sical-data-table" data-placeholder="Buscar Empleados">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% employees.each do |employee| %>
        <tr>
          <td><%= employee.name %></td>
          <td><%= employee.last_name %></td>
          <td><%= employee.email %></td>
          <td><%= employee.role.name %></td>
          <td>
          <%= link_to employee_path(employee), class: "btn btn-info btn-sm", data: { "toggle" => "tooltip" }, title: "Ver"  do %>
            <i class="fa fa-eye" aria-hidden="true"></i>
          <% end %>
          <%= link_to edit_employee_path(employee), class: "btn btn-success btn-sm", data: { "toggle" => "tooltip" }, title: "Editar" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
          <%= link_to toggle_status_employee_path(employee), id: "employee-lock-#{employee.id}", class: "btn btn-danger btn-sm", data: { toggle: "tooltip" }, title: "#{employee.tooltip_status}", method: :put, remote: true do %>
            <% if employee.status == "active" %>
              <i class="fa fa-unlock" aria-hidden="true"></i>
            <% else %>
              <i class="fa fa-lock" aria-hidden="true"></i>
            <% end %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
