<%= form_for @employee, url: path, method: method, :html => { class: "form-horizontal validate" } do |f| %>
  <% if @employee.errors.any? %>
    <% @employee.errors.full_messages.each do |m| %>
      <p><%= m %></p>
    <% end %>
  <% end %>
  <div class="form-group">
    <div>
      <%= f.label :nombre %>
    </div>
    <div>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.label :apellido %>
    </div>
    <div>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.label :email %>
    </div>
    <div>
      <%= f.text_field :email, class: "form-control " %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.label :direccion %>
    </div>
    <div>
      <%= f.text_field :address, class: "form-control " %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.label :telefono %>
    </div>
    <div>
      <%= f.text_field :phone, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fecha_nacimiento %>
    <div class="input-group date">
      <%= f.text_field :date_of_birth, class: "form-control", id: "employee-form-datepicker" %>
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.label :genero %>
    </div>
    <div>
      <%= f.select :gender, User.genders.keys, {}, class: "form-control" %>
    </div>
  </div>  
  <div class="form-group">
    <div class="text-center">
      <%= link_to "Cancelar", employees_path, class: "btn btn-primary sical-btn-cancel" %>
      <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
    </div>
  </div>
<% end %>