<%= form_for employee, url: path, method: method, :html => { class: "form-horizontal validate employee-form", id: "employee-form" } do |f| %>
  <% if @employee.errors.any? %>
    <% @employee.errors.full_messages.each do |m| %>
      <p><%= m %></p>
    <% end %>
  <% end %>
  <div class="form-group row">
    <div class="col-lg-3 col-fom-label">
      <%= f.label :nombre %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :name, class: "form-control valid", required: "required" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-fom-label">
      <%= f.label :apellido %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-fom-label">
      <%= f.label :email %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :email, class: "form-control " %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-fom-label">
      <%= f.label :direccion %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :address, class: "form-control " %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-fom-label">
      <%= f.label :telefono %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :phone, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-fom-label">
      <%= f.label :fecha_nacimiento %>
    </div>
    <div class="input-group date col-md-9">
      <%= f.text_field :date_of_birth, class: "form-control", id: "employee-form-datepicker" %>
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-fom-label">
      <%= f.label :genero %>
    </div>
    <div class="col-md-9">
      <label class="radio form-check-label sical-radio-button">
        <span class="icons">
          <span class="first-icon fa fa-circle-o"></span>
          <span class="second-icon fa fa-dot-circle-o"></span>
        </span>
        <input
          type="radio"
          class="form-check-input"
          data-toggle="radio"
          name="user[gender]"
          value="male"
          <%= employee.gender == "male" ? "checked" : "" %>
        >
        Male
      </label>
      <label class="radio form-check-label sical-radio-button">
        <span class="icons">
          <span class="first-icon fa fa-circle-o"></span>
          <span class="second-icon fa fa-dot-circle-o"></span>
        </span>
        <input
          type="radio"
          class="form-check-input"
          data-toggle="radio"
          name="user[gender]"
          value="female"
          <%= employee.gender == "female" ? "checked" : "" %>
        >
        Female
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-fom-label">
      <%= f.label :rol %>
    </div>
    <div class="col-md-9">
      <%= f.collection_select :role_id, @roles, :id, :name, {}, class: "form-control" %>
    </div>
  </div> 
  <div class="employees-form-buttons">
    <div class="text-center">
      <%= link_to "Cancelar", employees_path, class: "btn btn-primary sical-btn-cancel sical-cancel-btn" %>
      <%= f.submit "Guardar", class: "btn btn-primary sical-submit-btn", data: {disable_with: 'Please Wait...'}  %>
    </div>
  </div>
<% end %>