<div class="sample-fields">
  <div class="form-group row">
    <%= f.label :Código_cliente, class: "col-md-3 col-fom-label" %>
     <div class="col-md-9">
        <%= f.text_field :client_code, class: "form-control", maxLength:"8"%>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :Código_pucp, class: "col-md-3 col-fom-label" %>
     <div class="col-md-9">
        <%= f.text_field :pucp_code, class: "form-control", maxLength:"8", required: "required" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :Categoría, class: "col-md-3 col-fom-label" %>
     <div class="col-md-9">
      <%= f.collection_select :sample_category_id, @sample_categories, :id, :name, {}, class: "form-control", required: "required" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :Descripción, class: "col-md-3 col-fom-label" %>
     <div class="col-md-9">
        <%= f.text_field :description, class: "form-control", maxLength:"80", required: "required" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :Evaluación, class: "col-md-3 col-fom-label" %>
    <div class="col-md-9 text-right" >
      <p>
      <%= link_to_add_association "Agregar valores", \
        f, \
        :sample_features, \
        data: {\
          'association-insertion-method': 'append', \
          'association-insertion-node': '.samples-values', \
        }, \
        render_options: { \
          locals: {
            disabled: false, \
            editable: true, \
          }, \
        }, \
        class: "btn btn-primary sical-btn-add-menu btn-add-sample-value" %>
      </p>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-9 offset-md-3">
      <div class="form-group row">
        <div class="col-md-9">Descripción</div>
        <div class="col-md-3">Valor</div>
      </div>
      <div class="samples-values">
        <%= f.fields_for :sample_features do |sample_feature_fields| %>
          <%= render 'sample_feature_fields', f: sample_feature_fields %>
        <% end %>
      </div>
    </div>
  </div>
</div>