<%= nested_form_for @service, url: work_classified_service_path, :wrapper => false,  method: :put do |f| %>
    <div id="service" class="tabcontent" style="display: block;">
      <h3>Informacion</h3>
        <%= render 'show_basic_information', service: @service, f: f %>
    </div>
          
     <div id="sample" class="tabcontent">
      <%= f.fields_for :sample_processeds do |sample| %>
        <%= render 'sample_processed_fields', f: sample %>
      <% end %>
      <div class="">
        <div class= "samples-title samples-worker">
          <div>
            Muestras
          </div>
          <div>
            <%= link_to_add_association "Agregar evaluacion de la muestra", f, :sample_processeds, class: "btn btn-default sical-btn-add-menu btn-add-evalution-sample"%>
          </div>
        </div>
      </div>
    </div>      

    <div class="form-group">
      <div class="text-center save-worker">
        <%= link_to "Cancelar", work_classified_services_path, class: "btn btn-primary sical-btn-cancel" %>
        <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
      </div>
    </div>  
<% end %>



