<div class="card">
  

  <%= nested_form_for @service, url: work_classified_service_path, :wrapper => false,  method: :put do |f| %>

    <% if @service.assign_sorter?%>

    <div class="tab">
      <button class="tablinks active" onclick="openSection(event, 'service')">Informacion</button>
      <button class="tablinks" onclick="openSection(event, 'sample')">Custodia de Muestras</button>
    </div>
    <div id="service" class="tabcontent" style="display: block;">
      <h3>Informacion</h3>
        <%= render 'show_basic_information', service: @service, f: f %>
    </div>
		
    <div id="sample" class="tabcontent">
      <h3>Custodia de Muestras</h3>	
      <%= render 'form_worker', service: @service, h: f %>
    </div>    
    <% else %>
     <div class="tab">
      <button class="tablinks active" onclick="openSection(event, 'service')">Informacion</button>
      <button class="tablinks" onclick="openSection(event, 'sample')">Custodia de Muestras</button>
    </div>
    <div id="service" class="tabcontent" style="display: block;">
      <h3>Informacion</h3>
        <%= render 'show_basic_information', service: @service, f: f %>
    </div>		
    <div id="sample" class="tabcontent">
      <h3>Custodia de Muestras</h3>	
      <%#= render 'form_worker', service: @service, h: f %>
    </div>        
    <% end%>      
    <div class="form-group">
      <div class="text-center save-worker">
        <%= link_to "Cancelar", work_classified_services_path, class: "btn btn-primary sical-btn-cancel" %>
        <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
      </div>
    </div>  
  <% end %>
</div>