<div class="card">
  <div class="content">
    <div class="header card-header-text laboratory-header">
      <h1 class="page-header title laboratory-card-title">Laboratorio <small>Ver</small></h1>
    </div>
    <div class="form-horizontal validate sical-form sical-form-validated">
      <div class="form-group row">
        <label class= "col-md-3 col-form-label">Nombre</label>
        <div class="col-md-9">
          <%= @laboratory.name %>
        </div>
      </div>
      <div class="form-group row">
        <label class= "col-md-3 col-form-label">Correo Electrónico</label>
        <div class="col-md-9">
          <%= @laboratory.email %>
        </div>
      </div>
      <div class="form-group row">
        <label class= "col-md-3 col-form-label">Dirección</label>
        <div class="col-md-9">
          <%= @laboratory.address %>
        </div>
      </div>
      <div class="form-group row">
        <label class= "col-md-3 col-form-label">Teléfono</label>
        <div class="col-md-9">
          <%= @laboratory.phone %>
        </div>
      </div>
      <div class="form-group row">
        <label class= "col-md-3 col-form-label">Descripción</label>
        <div class="col-md-9">
          <%= @laboratory.description %>
        </div>
      </div>
      <div class="sical-form-buttons">
        <div class="text-center">
          <%= link_to "Regresar", laboratories_path, class: "btn btn-primary sical-btn-cancel" %>
        </div>
      </div>
    </div>   
  </div>
</div>
