<%= form_tag search_check_services_path, class: "validate", method: :get, remote: true do %>
  <div class="row form-group">
    <div class="form-group row search-field">
      <div class="col-md-3 col-fom-label">
        <%= label_tag "Fecha de Inicio"%>
      </div>
      <div class="date col-md-9 input-wrapper">
        <div class="input-group sical-input-group">
          <%= text_field_tag :fecha_inicio, nil, class: "form-control sical-datepicker", birth: true %>
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row search-field">
      <div class="col-md-3 col-fom-label">
        <%= label_tag "Fecha de Fin"%>
      </div>
      <div class="date col-md-9 input-wrapper">
        <div class="input-group sical-input-group">
          <%= text_field_tag :end_date, nil, class: "form-control sical-datepicker", birth: true %>
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row search-field">
      <div class="col-sm-12">
        <%= submit_tag "Buscar", class:"btn btn-default pull-right" %>
      </div>
    </div>
  </div>
<% end %>

<style type="text/css">
  .search-field {
    margin: 0 10px;
  }
</style>