<div class="card">
  <div class="content">
    <div class="header card-header-text sical-card-header">
      <h1 class="page-header title sical-card-title">Servicio <small>Ver</small></h1>
    </div>

    <div class="tab">
      <button class="tablinks active" onclick="openSection(event, 'basic_information')">Información</button>
      <% if @service.state_see %>
        <%#button class="tablinks " onclick="openSection(event, 'process_information')">Estado de servicio</button%>
      <% end %>
      <% if @service.contract_see %>
        <button class="tablinks" onclick="openSection(event, 'contracts')">Contrato</button>
      <% end %>
      <% if @service.final_completed? %>
        <button class="tablinks" onclick="openSection(event, 'results')">Resultados</button>
      <% end %>
    </div>
    <div id="basic_information" class="tabcontent " style="display: block;">
      <%= render "show_basic_information", service: @service%>
    </div>

    <div id="process_information" class="tabcontent">
      <%= render "show_status_information", service: @service%>
    </div>

    <div id="contracts" class="tabcontent">
      <%= render "show_contracts_information", service: @service%>
    </div>

    <div id="results" class="tabcontent">
      <%= render "report_view", service: @service%>
    </div>

    <div class="sical-form-buttons">
      <div class="text-center">
        <%= link_to "Cancelar", check_services_path, class: "btn btn-primary sical-btn-cancel" %>
      </div>
    </div>
  </div>
</div>