<div class="form-group row">
  <div class="col-md-3 col-fom-label"> 
    <%= f.label :nombre %>
  </div>
  <div class="col-md-9 input-wrapper">    
    <%= f.text_field :name, class: "form-control", required: "required" %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-3 col-fom-label"> 
    <%= f.label :Apellido %>
  </div>
  <div class="col-md-9 input-wrapper">    
    <%= f.text_field :last_name, class: "form-control", required: "required" %>
  </div>
</div> 
<div class="form-group row">
  <div class="col-md-3 col-fom-label">
    <%= f.label :Correo_Electrónico%>
  </div>
  <div class="col-md-9 input-wrapper">
    <%= f.text_field :email, class: "form-control", email: "true", required: "required" %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-3 col-fom-label"> 
    <%= f.label :Contraseña %>
  </div>
  <div class="col-md-9 input-wrapper">    
    <%= f.text_field :password, class: "form-control", required: "required" %>
  </div>
</div> 
<div class="form-group row">
  <div class="col-md-3 col-fom-label"> 
    <%= f.label :Direccion %>
  </div>
  <div class="col-md-9 input-wrapper">    
    <%= f.text_field :address, class: "form-control", required: "required" %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-3 col-fom-label">
    <%= f.label :Teléfono %>
  </div>
  <div class="col-md-9 input-wrapper">
    <%= f.text_field :phone, class: "form-control only-numbers", minLength: "7", maxLength: "9", required: "required" %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-3 col-fom-label">
    <%= f.label :Fecha_de_Nacimiento %>
  </div>
  <div class="date col-md-9 input-wrapper">
    <div class="input-group sical-input-group">
      <%= f.text_field :date_of_birth, value: user.date_of_birth ? user.date_of_birth.strftime("%d/%m/%Y") : "", class: "form-control sical-datepicker", required: "required", date: true, birth: true, onlyAdult: true %>
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
    </div>
  </div>
</div>         
<div class="form-group row">
  <div class="col-md-3 col-fom-label">
    <%= f.label :Sexo %>
  </div>
  <div class="col-md-9 input-wrapper">
    <div class="employee-gender-options">
      <% User.genders.keys.each do |gender|  %>
        <%= f.label gender.capitalize, class: "radio form-check-label sical-radio-button" do %>
          <%= f.radio_button :gender, gender, class: "form-check-input sical-input-radio-button", required: "required" %>
          <span class="icons">
            <span class="first-icon fa fa-circle-o"></span>
            <span class="second-icon fa fa-dot-circle-o"></span>
          </span>
          <%= gender.capitalize %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>