<%= form_for @user, url: edit_user_path, method: :put do |f| %>

  <% if @user.client? %>
    <%= render 'client', f: f %>
  <% else %>
    <%= render 'employee', f: f %>
  <% end %>


  <div class="form-group">
    <div class="text-center save-worker">
      <%= link_to "Cancelar", root_path, class: "btn btn-primary sical-btn-cancel" %>
      <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
    </div>
  </div>
<% end %>