<%= form_for contact, url: path, method: method  do |f| %>
  <div class="form-group row">
    <div class="col-md-3 col-fom-label">
      <%= f.label :subject %>
    </div>
    <div class="col-md-9 input-wrapper">
      <%= f.text_field :subject, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-fom-label">
      <%= f.label :message %>
    </div>
    <div class="col-md-9 input-wrapper">
      <%= f.text_field :message, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-fom-label">
      <%= f.label :laboratorio %>
    </div>
    <div class="col-md-9 input-wrapper">
      <%= f.collection_select :laboratory_id, @laboratories, :id, :name, class: "form-control"  %>
    </div>
  </div>  
  <div class="sical-form-buttons">
    <div class="text-center">
      <%= link_to "Cancelar", contact_us_path, class: "btn btn-primary sical-btn-cancel" %>
      <%= f.submit "Guardar", class: "btn btn-primary sical-submit-btn", data: {disable_with: 'Please Wait...'}  %>
    </div>
  </div>
<% end %>


