<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>nombre</th>
        <th>Telefono</th>
        <th>Ruc</th>
        <th>Correo</th>
        <th>Username</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.phone %></td>
          <td><%= client.ruc %></td>
          <td><%= client.email %></td>
          <td><%= client.username %></td>
          <td>
            <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_client_path(client), class: "btn btn-default btn-sm", data: { "toggle" => "tooltip" }, title: "Edit" %>
        		<%= link_to 'Eliminar', client_path(client), method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
