<div class="material-datatable">
  <table id="client-table" class="table table-no-bordered table-hover sical-data-table" data-placeholder="Buscar Clientes">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>RUC</th>
        <th>Dirección</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.ruc %></td>
          <td><%= client.address %></td>
          <td><%= client.email %></td>
          <td><%= client.phone %></td>
          <td>
            <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_client_path(client), class: "btn btn-success btn-sm", data: { "toggle" => "tooltip" }, title: "Editar" %>
            <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, client_path(client),class: "btn btn-warning btn-sm",title: "Eliminar", method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>