<div class="material-datatable">
  <table id="client-table" class="table table-no-bordered table-hover sical-data-table" data-placeholder="Buscar Clientes">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>RUC</th>
        <th>Dirección</th>
        <th>Persona de Contacto</th>
        <th>Correo electrónico</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.ruc %></td>
          <td><%= client.address%></td>
          <td><%= client.person_contact%></td>
          <td><%= client.email %></td>
          <td><%= client.phone %></td>
          <td>
            <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, client_path(client), class: "btn btn-info btn-sm #{current_user.can_view(@controller) ? '' : 'disabled'}", data: { "toggle" => "tooltip" }, title: "Ver" %>
            <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_client_path(client), class: "btn btn-success btn-sm #{current_user.can_edit(@controller) ? '' : 'disabled'}", data: { "toggle" => "tooltip" }, title: "Editar" %>
            <%= link_to  toggle_status_client_path(client), id: "client-lock-#{client.id}", class: "btn btn-danger btn-sm #{current_user.can_delete(@controller) ? '' : 'disabled'}", data: { toggle: "tooltip" }, title: "#{client.tooltip_status}", method: :put, remote: true do %>
                  <% if client.status == "active" %>
                    <i class="fa fa-unlock" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-lock" aria-hidden="true"></i>
                  <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>