<div class="card">
  <div class="content">
    <div class="header card-header-text sical-card-header">
      <h1 class="page-header title sical-card-title">
        Clientes 
        <small>Ver</small>
      </h1>
    </div>
    <div class="form-horizontal validate sical-form sical-form-validated">
      <div class="form-group row">
        <label class="col-md-3 col-fom-label">Nombre :</label>
        <div class="col-md-9">
          <%= @client.name %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3">RUC :</label>
        <div class="col-md-9">
          <%= @client.ruc %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3">Dirección :</label>
        <div class="col-md-9">
          <%= @client.address %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3">Email :</label>
        <div class="col-md-9">
          <%= @client.email %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3">Teléfono :</label>
        <div class="col-md-9">
          <%= @client.phone %>
        </div>
      </div>
      <div class="form-group">
        <div class="text-center">
          <%= link_to "Regresar", clients_path, class: "btn btn-primary sical-btn-cancel" %>
        </div>
      </div>
    </div>
  </div>
</div>