<div class="card">
  <div class="content">
    <div class="header card-header-text sical-card-header">
      <h1 class="page-header title client-card-title">
        Cliente
        <small>Ver</small>
      </h1>
    </div>
    <div class="form-horizontal validate sical-form sical-form-validated">
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Nombre :</label>
        <div class="col-md-9">
          <%= @client.name %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">RUC :</label>
        <div class="col-md-9">
          <%= @client.ruc %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Dirección :</label>
        <div class="col-md-9">
          <%= @client.address %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Persona de Contacto :</label>
        <div class="col-md-9">
          <%= @client.person_contact %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Correo electrónico :</label>
        <div class="col-md-9">
          <%= @client.email %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Teléfono :</label>
        <div class="col-md-9">
          <%= @client.phone %>
        </div>
      </div>
      <div class="sical-form-buttons">
        <div class="text-center">
          <%= link_to "Regresar", clients_path, class: "btn btn-primary sical-btn-cancel" %>
        </div>
      </div>
    </div>
  </div>
</div>