<%= nested_form_for @request, url: path, method: method, :html => { class: "form-horizontal validate" } do |f| %>

  <% if @request.errors.any?%>
    <% @request.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

  <div class="form-group row">
    <%= f.label :Laboratorio, class: "col-lg-3 col-fom-label" %>
    <div class="col-lg-9">
      <%= f.text_area :laboratory, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :Asunto %>    
      <%= f.text_field :Asunto %>
  </div>


  <div class="col-sm-12 text-right">
    <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
  </div>

  <%= link_to 'Volver', roles_path %>
  
   <%= f.fields_for :humo do |mp| %>

      <%= mp.title :title %>

      <%= mp.amount :amount %>

      <%= mp.description :description %>

  <% end %>
<% end %>
