<%= nested_form_for @request, url: path, method: method, :html => { class: "form-horizontal validate" } do |f| %>

  <% if @request.errors.any?%>
    <% @request.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

  <div class="form-group row">
    <%= f.label :Laboratorio, class: "col-lg-3 col-fom-label" %>
   <div class="col-md-9">
      <%= f.collection_select :laboratory_id, @laboratories, :id, :name, {}, class: "form-control", required: "required" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :Asunto,class: "col-lg-3 col-fom-label"  %>   
    <div class="col-md-9"> 
    <%= f.text_field :topic ,class: "form-control", required:"required"%>
    </div>
  </div> 
  <div class="form-group row">
    <%= f.label :Muestras, class: "col-md-3 col-fom-label" %>
    <div class="col-md-9" >
      <p><%= f.link_to_add "Agregar muestra", :request_service_descriptions, :data => { :target => "#table-services" }, class: "btn btn-primary sical-btn-add-menu" %></p>
    </div>
  </div>  


  <div class="col-md-9 offset-md-3">
    <table class="table table-no-bordered table-hover">
      <thead>
        <th>Nombre muestra</th>
        <th>Cantidad</th>
        <th>Description</th>
        <th></th>
      </thead> 
      <tbody id="table-services">
        <%= f.fields_for :request_service_descriptions, :wrapper => false do |service_form| %>
          <tr>  
            <%#= service_form.label :sample_name %>
            <td><%= service_form.text_field :sample_name %></td>
        
            <%#= service_form.label :amount %>
            <td><%= service_form.text_field :amount, :size=>"3", maxLength: "4", numericality: { only_integer: true }%></td>

            <%#= service_form.label :description %>         
            <td><%= service_form.text_area :description, :rows => 2, :cols => 40, :maxlength => 80, class: "request-description" %></td>
              
            <td><%= service_form.link_to_remove "Borrar" %></td>
          </tr>  
        <% end %>
      </tbody>
    </table> 
  </div>      
  <!--p><%#= f.link_to_add "Add", :request_service_descriptions %></p-->
  <div class="form-group">
    <div class="text-center">
      <%= link_to "Cancelar", roles_path, class: "btn btn-primary sical-btn-cancel" %>
      <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
    </div>
  </div>   
<% end %>
