<div class="content">
  <div class="material-datatables">
    <table class="table table-hover sical-data-table sical-data-table" data-placeholder="Buscar Solicitudes">
      <thead>
        <tr>
          <th>Código</th>
          <th>Laboratorio</th>
          <th>Fecha de Envio</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% requests.each do |request| %>
          <tr>
            <td><%= request.code %></td>
            <td><%= request.laboratory %></td>
            <td><%= request.shipping_date %></td>
            <td><%= request.status %></td>
            <td>
              <%= link_to edit_request_path(request), class: "btn btn-simple btn-warning btn-icon edit" do %>
                <i class="ti-pencil-alt"></i>
              <% end %>
              <%= link_to request_path(request), class: "btn btn-simple btn-danger btn-icon remove", method: :delete do %>
                <i class="ti-close"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>