<div class="content">
        <div class="material-datatables">
          <table id="quotation_table" class="table table-no-bordered table-hover" >
            <thead>
              <tr>
                <th>Código</th>
                <th>Código de Solicitud</th>
                <th>Laboratorio</th>
                <th>Fecha de Recepción</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% quotation.each do |q| %>
                <tr>
                  <td><%= q.code %></td>
                  <td><%= q.code_Sol %></td>
                  <td><%= q.laboratory %></td>
                  <td><%= q.date %></td>
                  <td><%= q.state %></td>
                  <td>
                    <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_quotation_path(quotation), class: "btn btn-success btn-sm", data: { "toggle" => "tooltip" }, title: "Editar" %>
                    <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, quotation_path(quotation),class: "btn btn-warning btn-sm",title: "Ver", method: :delete %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
</div>


<script>
  $(document).on('ready', function() {
    $('#quotation_table').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [ 
            [10, 25, 50, -1],
            [10, 25, 50, "All"]
        ],
        responsive: true,
        destroy: true,
        language: {
            search: "_INPUT_",
            searchPlaceholder: "Buscar Cotizaciones",
        },
    });
  })
</script>
