<div class="form-group row">
  <div class="col-md-4">
    <%= f.text_field :name, readonly: true , class: "form-control"%>
  </div>
  <div class="col-md-4">
    <%= f.text_field :quantity, readonly: true, class: "form-control" %>
  </div>
  <div class="col-md-4">
	  <%= f.collection_select :sample_category_id, @sample_categories, :id, :name, {}, class: "form-control" %>
  </div>
	<div class="col-md-4">
	  <%= f.collection_select :sample_method_id, @sample_methods, :id, :name, {}, class: "form-control" %>
	</div>
  <div class="col-md-4">
    <%= f.text_field :unit_cost, readonly: true, class: "form-control" %>
  </div>
</div>