<div class="nested-fields">
    <%= f.label :Descripcion %>
    <%= f.text_field :description, readonly: true %>
    
    <%= f.label :Valor %>
    <%= f.text_field :value, readonly: true %>

    <%= link_to_remove_association f do %>
      <i class="fa fa-times" aria-hidden="true"></i>
    <% end %>
</div>