<div class="nested-fields">
    <br>
    <%= f.label :Categoria %>
    <%= f.text_field :category,readonly: true %>

    <%= f.label :Descripcion %>
    <%= f.text_field :description,readonly: true %>

    <%= f.label :Codigo_pucp %>
    <%= f.text_field :pucp_code,readonly: true %>

    <%= f.label :client_code %>
    <%= f.text_field :client_code,readonly: true %>

    <%= f.label :sample_methods %>
    <%= f.collection_select :sample_method_id, @sample_methods, :id, :name, {}, readonly: true, class: "sample-methods" %>

    <%= f.label :unit_cost %>
    <%= f.text_field :unit_cost,readonly: true %>

    <%= f.label :amount %>
    <%= f.text_field :amount,readonly: true %>

    <%= f.label :discount %>
    <%= f.text_field :discount %>

    <%= f.label :subtotal_cost %>
    <%= f.text_field :subtotal_cost, readonly: true %>

    <%= link_to_remove_association f do %>
      <i class="fa fa-times" aria-hidden="true"></i>
    <% end %>

    <%= f.fields_for :sample_features do |s_f| %>
        <%= render 'sample_feature_fields', f: s_f %>
    <% end %>

    <div class="form-group row">
      <%= link_to_add_association "Agregar caracteristica", f, :sample_features%>
    </div>
    <br>
</div>