<div id="informacion-general" class="tabcontent" style="display: block;">
  <div class="form-group row">
    <%= f.label :Laboratorio, class: "col-md-3 col-fom-label" %>
     <div class="col-md-9">
        <%= f.collection_select :laboratory_id, @laboratories, :id, :name, {}, class: "form-control", required: "required" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3 col-fom-label">
      <%= f.label :Fecha_Aproximada_de_Recojo  %>
    </div>
    <div class="date col-md-9 input-wrapper">
      <div class="input-group sical-input-group">
        <%= f.text_field :pick_up_date, value: service.pick_up_date ? service.pick_up_date.strftime("%d/%m/%Y") : '' , class: "form-control sical-datepicker", required: "required", date: true, birth: true %>
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :Asunto, class: "col-md-3 col-fom-label" %>
     <div class="col-md-9">
        <%= f.text_field :subject,class: "form-control", maxLength:"80", required: "required" %>
    </div>
  </div>

  <div class="form-group row">
    <%= link_to_add_association "", f,:sample_preliminaries%>
  </div>
  
  <div class="form-group row">
    <div class="col-md-9 offset-md-3">
      <table class="table table-no-bordered table-hover">
        <thead>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Descripcion</th>
        </thead>
        <tbody class="samples-elements">
        </tbody>
      </table>
      <%= f.fields_for :sample_preliminaries do |s_p| %>
        <%= render 'sample_preliminary_fields', f: s_p %>
      <% end %>
    </div>
  </div>
  
</div>