<div id="informacion-general" class="tabcontent" style="display: block;">
  <h3>Información General</h3>
  <%= f.label :Laboratorio %>
  <%= f.collection_select :laboratory_id, @laboratories, :id, :name, {}, readonly: true %>

  <%= f.label :Asunto %>
  <%= f.text_field :subject,readonly: true %>

  <%= f.label :Fecha_aproximada_de_recojo %>
  <%= f.text_field :pick_up_date, readonly: true %>
  
  <%= f.fields_for :sample_preliminaries do |s_p| %>
    <%= render 'sample_preliminary_fields', f: s_p %>
  <% end %>
  <div class="form-group row">
    <%= link_to_add_association "Agregar muestra", f,:sample_preliminaries%>
  </div>
</div>