
<div id="informacion-general" class="tabcontent" style="display: block;">
  <div class="form-group row">
    <label class= "col-md-3 col-form-label">Cliente</label>
     <div class="col-md-9">
        <%= @service.client.name %>
    </div>
  </div>
  <div class="form-group row">
    <label class= "col-md-3 col-form-label">Laboratorio</label>
     <div class="col-md-9">
        <%= @service.laboratory.name %>
    </div>
  </div>

  <div class="form-group row">
    <label class= "col-md-3 col-form-label">Fecha Próxima de Recojo</label>
     <div class="col-md-9">
        <%= @service.pick_up_date.strftime("%d/%m/%Y")%>
    </div>
  </div>

  <div class="form-group row">
    <label class= "col-md-3 col-form-label">Asunto</label>
     <div class="col-md-9">
        <%= @service.subject %>
    </div>
  </div>

  <div class="form-group row">
    <label class= "col-md-3 col-form-label">Muestra(s)</label>
    <div class="col-md-9">
      <table class="table table-hover">
       <thead>
         <tr>
           <th>Nombre</th>
           <th>Cantidad</th>
           <th>Descripción</th>
         </tr>
       </thead>
       <tbody>
         <% @service.sample_preliminaries.each do |sp|%>
           <tr>
             <td><%= sp.name %></td>
             <td><%= sp.quantity %></td>
             <td><%= sp.description %></td>
           </tr>
         <% end %>
     </table>
  </div>
</div>
