  <div>
  	<%= f.label :clasificacion_valida %>
	  <%= f.check_box :valid_classified, :checked => false %>
  </div>
  
  <% @service.sample_processeds.each do |sample_processed| %>
  	codigo pucp <%= sample_processed.pucp_code %>
  	codigo cliente <%= sample_processed.client_code %>
  	cantidad <%= sample_processed.amount %>
  	costo unitario <%= sample_processed.unit_cost %>
		subtotal <%= sample_processed.subtotal_cost %>
		<br>
  <% end %>