<div class="material-datatables">
  <table id="employee-datatable" class="table table-hover sical-data-table" data-placeholder="Buscar Empleados">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% employees.each do |employee| %>
        <tr>
          <td><%= employee.name %></td>
          <td><%= employee.last_name %></td>
          <td><%= employee.email %></td>
          <td><%= employee.role.name %></td>
          <td class="text-center">
            <%= f.radio_button :employee_id, employee.id , class: "btn btn-info btn-sm",  required: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
