<div class="card">  
  <%= nested_form_for @service, url: classified_service_path, :wrapper => false,  method: :put do |f| %>
    <% if @service.assign_sorter? %>
    <div class="tab">
      <button class="tablinks active" onclick="openSection(event, 'service')">Servicios</button>
      <button class="tablinks" onclick="openSection(event, 'sample')">Asignaci贸n de Custodia</button>
    </div>

    <div id="service" class="tabcontent" style="display: block;">
      <h3>Informaci贸n</h3>
        <%= render 'show_basic_information', service: @service, f: f %>
    </div>
		
		<div id="sample" class="tabcontent">
      <h3>Asignaci贸n</h3>
			<%= render 'employees_table', employees: @employees, f: f %>
		</div>    
   
    <% else %>
    <div class="tab">
      <button class="tablinks active" onclick="openSection(event, 'service')">Servicios</button>
      <button class="tablinks" onclick="openSection(event, 'sample')">Resultado de Custodia</button>
    </div>

    <div id="service" class="tabcontent" style="display: block;">
      <h3>Informaci贸n</h3>
        <%= render 'show_basic_information', service: @service, f: f %>
    </div>
		
		<div id="sample" class="tabcontent">
      <h3>Resultados</h3>
			<%#= render 'employees_table', employees: @employees, f: f %>
      <%= f.check_box :valid_classified, :checked => false %>
		</div>    
    
    <% end %>    
    <div class="form-group">
      <div class="text-center save-worker">
        <%= link_to "Cancelar", classified_services_path, class: "btn btn-primary sical-btn-cancel" %>
        <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
      </div>
    </div>
  <% end %>
</div>