
<div class="login-title"><h1>Inicio de Sesión</h1></div>

<div class="login-content">
  <div class="login-logo">
    <%= image_tag "Instituto-calidad.jpg", class: "login-img" %>
  </div>
  <div class="login-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field login-field">
        <%= f.label :usuario %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="field login-field">
        <%= f.label :contraseña %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me, class: "second-icon fa fa-square"%>
          <%= f.label :recuerdame %>
        </div>
      <% end -%>

      <div class="actions login-button">
        <%= f.submit "Entrar", class: "btn btn-info btn-fill btn-wd"%>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

