<%= nested_form_for @role, url: path, method: method, :html => { class: "form-horizontal validate sical-form sical-form-validated" } do |f| %>
  <% if @role.errors.any?%>
    <% @role.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>
  <div class="form-group row">
    <%= f.label :Nombre, class: "col-md-3 col-fom-label" %>
    <div class="col-md-9">
      <%= f.text_field :name, class: "form-control",maxLength:"30", required:"required" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :Descripción, class: "col-md-3 col-fom-label" %>
    <div class="col-md-9">
      <%= f.text_area :description, class: "form-control",maxLength:"100", required:"required" %>
    </div>
  </div>

  <% if current_user.admin? %>
    <div class="form-group row">
      <div class="col-md-3 col-fom-label">
        <%= f.label :laboratorio %>
      </div>
      <div class="col-md-9 input-wrapper">
        <%= f.collection_select :laboratory_id, @laboratories, :id, :name, {}, class: "form-control", required: "required" %>
      </div>
    </div>    
  <% end %>
  
  <%= f.fields_for :menu_permits do |r| %>
    <%= render "menu_permit_fields", f: r %>
  <% end %>

  <div class="form-group row">
    <%= f.label :Permisos, class: "col-md-3 col-fom-label" %>
    <div class="col-md-9 text-right" >
      <p><%= link_to_add_association "Agregar permiso", f, :menu_permits, class: "btn btn-primary sical-btn-add-menu " %></p>
    </div>
  </div>


  <div class="form-group">
    <div class="text-center">
      <%= link_to "Cancelar", roles_path, class: "btn btn-primary sical-btn-cancel" %>
      <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
    </div>
  </div>
<% end %>