<%= nested_form_for @role, url: path, method: method, :html => { class: "form-horizontal validate sical-form sical-form-validated" } do |f| %>
  <% if @role.errors.any?%>
    <% @role.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>
  <div class="form-group row">
    <%= f.label :Nombre, class: "col-md-3 col-fom-label" %>
    <div class="col-md-9 input-wrapper">
      <%= f.text_field :name, class: "form-control",maxLength:"30", required:"required" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :Descripción, class: "col-md-3 col-fom-label" %>
    <div class="col-md-9 input-wrapper">
      <%= f.text_area :description, class: "form-control role-description", rows:"5", required:"required" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :Permisos, class: "col-md-3 col-fom-label" %>
    <div class="col-md-9 text-right" >
      <p><%= f.link_to_add "Agregar permiso", :menu_permits, :data => { :target => "#permits-table" }, class: "btn btn-primary sical-btn-add-menu " %></p>
    </div>
  </div>
  <div class="col-md-9 offset-md-3">
    <table class="table table-no-bordered table-hover">
      <thead>
        <th>Menú</th>
        <th>Crear</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Eliminar</th>
        <th></th>
      </thead>
      <tbody id="permits-table">
        <%= f.fields_for :menu_permits, :wrapper => false do |mp_form| %>
          <tr class="fields">
            <td><%= mp_form.select :name, @menus, {}%></td>
            <td><%= mp_form.check_box :create_permit %></td>
            <td><%= mp_form.check_box :view_permit %></td>
            <td><%= mp_form.check_box :edit_permit %></td>
            <td><%= mp_form.check_box :delete_permit %></td>
            <td>
              <%= mp_form.link_to_remove do %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>  
  </div>
  <div class="form-group">
    <div class="text-center">
      <%= link_to "Cancelar", roles_path, class: "btn btn-primary sical-btn-cancel" %>
      <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
    </div>
  </div>
<% end %>