<div class="nested-fields sical-nested-row">
  <div class="sical-nested-cell"><%= f.select :name, @menus, {}%></div>
  <div class="sical-nested-cell"><%= f.check_box :create_permit %></div>
  <div class="sical-nested-cell"><%= f.check_box :view_permit %></div>
  <div class="sical-nested-cell"><%= f.check_box :edit_permit %></div>
  <div class="sical-nested-cell"><%= f.check_box :delete_permit %></div>
  <div class="sical-nested-cell"><%= link_to_remove_association "Remove children", f %></div>
</div>