  <div class="col-md-9 offset-md-3">
    <table class="table table-no-bordered table-hover">
      <thead>
        <th>Menú</th>
        <th>Crear</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Eliminar</th>
        <th></th>
      </thead>
      <tbody id="permits-table">
          <tr>
            <td><%= f.select :name, @menus, {}%></td>
            <td><%= f.check_box :create_permit %></td>
            <td><%= f.check_box :view_permit %></td>
            <td><%= f.check_box :edit_permit %></td>
            <td><%= f.check_box :delete_permit %></td>
          </tr>
      </tbody>
    </table>  
  </div>