<div class="material-datatables">
  <table id="roles-table" class="table table-hover sical-data-table sical-data-table" data-placeholder="Buscar Roles">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% roles.each do |role| %>
        <tr>
          <td><%= role.name %></td>
          <td><%= role.description %></td>
          <td><%= role.status %><</td>
          <td>
            <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_role_path(role), class: "btn btn-success btn-sm", data: { "toggle" => "tooltip" }, title: "Editar" %>
            <%= link_to '<i class="fa fa-lock" aria-hidden="true"></i>'.html_safe, role_path(role),class: "btn btn-warning btn-sm", data: { "toggle" => "tooltip" }, title: "Activar/Desactivar", method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
