<div class="material-datatables">
  <table id="roles-table" class="table table-hover sical-data-table sical-data-table" data-placeholder="Buscar Rol">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% roles.each do |role| %>
        <tr>
          <td><%= role.name %></td>
          <td><%= role.description %></td>
          <td>
            <%= link_to role_path(role), class: "btn btn-info btn-sm", data: { "toggle" => "tooltip" }, title: "Ver" do %>
              <i class="fa fa-eye" aria-hidden="true"></i>
            <% end %>
            <%= link_to edit_role_path(role), class: "btn btn-success btn-sm", data: { "toggle" => "tooltip" }, title: "Editar" do%>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
            <%= link_to toggle_status_role_path(role), id: "role-lock-#{role.id}", class: "btn btn-danger btn-sm", data: { "toggle" => "tooltip" }, title: "Activar/Desactivar", method: :put, remote: true do %>
              <% if role.status=="active" %>
                <i class="fa fa-unlock" aria-hidden="true"></i>
              <% else %>
                <i class="fa fa-lock" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
