<table class="table table-no-bordered table-hover">
  <thead>
    <th>Código Muestra</th>
    <th>Método</th>
    <th>Acreditado</th>
    <th>Nombre Reporte</th>
    <th>Reporte</th>
  </thead>
  <tbody>
    <tr>
      <td><%= sample.pucp_code %></td>
      <td><%= sample.sample_method_name %></td>
      <td><%= sample.sample_method_accredited? %></td>
      <td><%= f.text_field :report_name %></td>
      <td><%= f.file_field :internal_report %></td>
    </tr>
  </tbody>
</table>
