<%= nested_form_for  @work_order, url: work_order_path, :wrapper => false,  method: :put do |f| %>
  <div id="information" class="tabcontent" style="display: block;">
    <h3>Información</h3>
      <%= render 'show_basic_information', service: @work_order.sample_processed.service, f: f %>
  </div>
  <div id="custody" class="tabcontent">
      <div>
        <%= render 'add_nested_elements', title: "Muestras", button_message: "", editable: false, f: f, 'association_insert_node': '.classified-services', fields: :sample_processeds, partial: 'sample_processed_fields' %>
      </div>
  </div>

  <div id="report" class="tabcontent">
    <div class="col-md-12">
      <div class="form-group row">
        <div class="col-md-9"><h3>Reporte</h3></div>
        <div class="col-md-2"><h3>Nro Revision</h3></div>
        <div class="col-md-1"><h3><%= @work_order.nr_revision %></h3></div> 
      </div> 
    </div>
    <%= render 'report_employee', work_order: @work_order, f: f, sample: @work_order.sample_processed %>
    <div class="text-center">
      <br></br>
      <h4>Observaciones Hechas</h4>
      <%= f.text_area :supervisor_observation, :cols => "40", :rows => "5", readonly:true %>
    </div>
  </div>

  <div class="form-group">
    <div class="text-center save-worker">
      <%= link_to "Cancelar", work_order_path, class: "btn btn-primary sical-btn-cancel" %>
      <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'} %>
    </div>
  </div>
<% end %>





