<%= form_for sample_method, url: path, method: method, :html => { class: "form-horizontal validate sical-form sical-form-validated" } do |f| %>
  <% if @sample_method.errors.any? %>
    <% @sample_method.errors.full_messages.each do |m| %>
      <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        </button>
        <span>
          <b> Error - </b> <%= m %>
        </span>
      </div>
    <% end %>
  <% end %>
  <br>
  <div class="form-group row">
    <%= f.label :nombre, class: "col-md-3 col-form-label" %>
    <div class="col-md-9">
      <%= f.text_field :name, class: "form-control", required:"required"%>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :descripción, class: "col-md-3 col-form-label" %>
    <div class="col-md-9">
      <%= f.text_area :description, class: "form-control description",maxlength:"200",height:"100px" %>
  </div>
  </div>
  <div class="form-group row">
    <%= f.label :costo_unitario	, class: "col-md-3 col-form-label" %>
    <div class="col-md-9">
      <%= f.text_field :unit_cost, class: "form-control only-numbers", unit_cost: true , required:"required" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-fom-label">
      <%= f.label :acreditación %>
    </div>
    <div class="col-md-9 input-wrapper">
      <div class="sample-accreditation-options">
        <% SampleMethod.accreditations.keys.each do |accreditation|  %>
          <%= f.label accreditation.capitalize, class: "radio form-check-label sical-radio-button" do %>
            <%= f.radio_button :accreditation, accreditation, class: "form-check-input sical-input-radio-button", checked: "#{sample_method.accreditation == accreditation ? "checked" : ""}", required: "required" %>
            <span class="icons">
              <span class="first-icon fa fa-circle-o"></span>
              <span class="second-icon fa fa-dot-circle-o"></span>
            </span>
            <%= t("activerecord.attributes.samplemethod.accreditation.#{accreditation}") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
  <% if current_user.admin? %>
    <div class="form-group row">
      <div class="col-md-3 col-fom-label">
        <%= f.label :laboratorio %>
      </div>
      <div class="col-md-9 input-wrapper">
        <%= f.collection_select :laboratory_id, @laboratories, :id, :name, {}, class: "form-control", required: "required" %>
      </div>
    </div>    
  <% end %>
  <div class="sical-form-buttons">
    <div class="text-center">
      <%= link_to "Cancelar", sample_methods_path, class: "btn btn-primary sical-btn-cancel"  %>
      <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
    </div>
  </div>
<% end %>