<div class="material-datatables">
  <table id="method-table" class="table table-no-bordered table-hover sical-data-table" data-placeholder="Buscar Métodos">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Costo Unitario</th>
        <th>Acreditación</th>
        <th>Laboratorio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% samples.each do |sample| %>
        <tr>
          <td><%= sample.name %></td>
          <td><%= sample.description %></td>
          <td><%= sample.unit_cost %></td>
          <td><%= sample.accreditation %></td>
          <td><%= sample.laboratory.name %></td>
          <td>
            <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_sample_method_path(sample), class: "btn btn-success btn-sm", data: { "toggle" => "tooltip" }, title: "Editar" %>
            <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, sample_method_path(sample), class: "btn btn-warning btn-sm",title: "Eliminar", method: :delete %>
            <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, sample_method_path(sample), class: "btn btn-danger btn-sm",title: "Ver", method: :get%>
          </td>
        </tr>
      <% end %>
     </tbody>
  </table>
</div>