<div class="nested-elements-container">
  <div class= "samples-title samples-worker">
    <div>
      <%= title %>
    </div>
    <div>
      <%= link_to_add_association "#{button_message}", f, fields, data: {'association-insertion-method': 'append', 'association-insertion-node': "#{association_insert_node}"}, class: "btn btn-default sical-btn-add-menu btn-add-evalution-sample" %>
    </div>
  </div>
  <div class="<%= association_insert_node[1..-1] %>"> 
    <%= f.fields_for fields do |field| %>
      <%= render "#{partial}", f: field %>
    <% end %>
  </div>
</div>