<!DOCTYPE html>
<html>
  <head>
    <title>Sical</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application_header', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag :defaults, "nested_form" %>
  </head>

  <body>
    <div>
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="page-content main-panel">
      <%= render 'layouts/navbar' %>
      <div class="content">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
