<!DOCTYPE html>
<html>
  <head>
    <title>Sical</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="page-content main-panel">
      <%= render 'layouts/navbar' %>
      <div class="content">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
    
  </body>
</html>
