<!DOCTYPE html>
<html>
  <head>
    <title>Sical</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application_header' %>
    <%#= javascript_include_tag :defaults, "nested_form" %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
  </head>

  <body>
    <div class="sical-container">
      <%= render 'layouts/sidebar' %>
      <div class="page-content main-panel sical-main-panel">
        <%= render 'layouts/navbar' %>
        <div class="content sical-content">
          <div id="loader" class="sical-loader text-center">
            <%= image_tag "polygonal-loader2.gif" %>
          </div>
          <div id="content" class="hidden">
            <%= yield %>
          </div>
        </div>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
    <!-- Js Libraries -->
  <%= javascript_include_tag 'application' %>
</html>
